.main {
    margin: auto;
}
.goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item {
    padding-bottom: 15px;
}
button {
    border-radius: 7px;
    font-size: 15px;
    background-color: #868181;
    margin-left: 45%;
}
.name {
    text-align: center;
    color: darkcyan;
    font-family: 'Source Sans Pro', sans-serif;
}
.price {
    text-align: center;
}
.title {
    font-family: 'Source Sans Pro', sans-serif;
}
.bascket-title {
  font-family: 'Source Sans Pro', sans-serif;  
}
